.whatis
{
    display: flex;
    flex-direction: row;
    align-items: center;

    .image_container
    {

        .image{
            width: 50dvw;
            height: 50dwh;
        }
    }

    .whatis_block
    {
        position: relative;
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
        width: 50%;
        margin-right: 5%;

        .title
        {
            font-size: 2.5em;
            font-weight: bold;
        }
        .description
        {
            font-size: 1.78em;
        }
        .button
        {
            position: absolute;

            width: 50%;
            height: 80px;
            border-radius: 200px;
            top: 100%;
            right: 50%;

            background-color: #7CD5FF;
            color: #FFFFFF;
            border: 0;

            font-size: 1.8em;
            cursor: pointer;
        }
    }
}

@media (max-width: 768px)
    {
        .whatis
        {
            font-size: 0.8em;
            .button
            {

            }
        }
    }