.faq
{
    
    .container
    {
        width: 100%;
        .image
        {
            width: 100%;
        }

        .faq
        {
            width: 90%;
            .accordion
            {
                width: 100%;

            }
        }
    }
}


.accordion-button
                {
                    font-weight: bold;
                }